{
	"database": {
		"name": "couchbase"
		"uri": "couchbase://127.0.0.1"
		"auth": "QWRtaW46QWRtaW5AMTIz"
	}
	"insertOptions": {
		"bucket": "users",
		"collection": "user_info"
	}
	"configOptions": {
		"bucket": "users",
		"collection": "config"
	}
	"configList": {
		"query": "select meta().id, details from users where _type='config'"
	}
}