.header {
    box-shadow: 0 1px 10px #c4c4c4;
}

.login {
    font-weight: 600
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
}